configmap:
  create: true
  backendUrl: internproject-backend

image:
  frontendRepository: danialumer876/frontend
  backendRepository: danialumer876/backend
  frontendTag: latest
  backendTag: latest

replicaCount: 1

service:
  frontendType: NodePort
  backendType: ClusterIP
  frontendPort: 5200
  backendPort: 5100
