apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-frontend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "fullname" . }}-frontend
  template:
    metadata:
      labels:
        app: {{ template "fullname" . }}-frontend
    spec:
      containers:
      - name: frontend
        image: {{ .Values.image.frontendRepository }}:{{ .Values.image.frontendTag }}
        ports:
        - containerPort: {{ .Values.service.frontendPort }}
        env:
        - name: frontend-server
          valueFrom:
            configMapKeyRef:
              name: {{ template "fullname" . }}-configmap
              key: backendUrl
